*{
}
 form{
    /* align-content: center;
    align-items: center;
    align-self:center ; */
    margin-left:auto ;
    margin-right: auto;
    width: 8em;
    margin-top: 180px;
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 00.5rem;

}

/* form {
    
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
} */